<script src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer></script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
    netlifyIdentity.on("init", (user) => {
      if (user || window.netlifyIdentity.store.isLocal) {
        const adminLink = document.createElement("a");
        adminLink.textContent = "Admin";
        adminLink.classList.add("page-link");
        adminLink.setAttribute("href", "/admin/");
        document.querySelector(".site-nav > .trigger").append(adminLink);
      }
    });
  }
</script>
